<div>
	<div class="container-fluid">
		<nav class="navbar navbar-dark bg-inverse" style="margin-top:20px; margin-left:0;margin-right:0">
			<a class="navbar-brand" [routerLink]="['']">{{appTitle}}</a>
			<ul class="nav navbar-nav pull-right">
				<li class="nav-item active">
				<a class="nav-link" [routerLink]="['']">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" [routerLink]="['products']">Products</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" [routerLink]="['about']">About</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container" style="margin-top:20px">
		<router-outlet></router-outlet>
	</div>
</div>